.idea/*
graph-databases-comparative-study.iml
target/*
driver-settings.properties

# ignore unzipped datasets
src/main/resources/datasets/facebook/facebook/
src/main/resources/datasets/facebook/facebook_combined.txt/
